@import "./assets/scss/variables/color";
@import "./assets/scss/mixins/responsive";

* {
  font-family: 'PT Serif', serif;
}

.containerFluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  @extend .containerFluid;
  @include respond(phone) {
    max-width: 540px;
  }
  @include respond(tab-port) {
    max-width: 720px;
  }
  @include respond(tab-land) {
    max-width: 960px;
  }
  @include respond(big-desktop) {
    max-width: 1140px;
  }
}

.nav {
  &__link {
    color: $black-color;
    text-decoration: none;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: inherit;
    }

    &--active {
      color: $primary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }
}